$blue: #2f70fe;

footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  color: white;
  background-color: black;
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      &__li {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .footer-child {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          li {
            a {
              transition: 0.3s;
              &:hover {
                color: $blue;
              }
            }
          }
        }
      }
    }
    .bot {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 600px) {
  footer {
    .bot {
      flex-direction: column;
    }
  }
}
